.return{
    display: block;
}

body > *{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.matrix {
    display: inline-grid;
    /* grid-gap: 2px; */
}

.matrix__field {
    width: 40px;
    height: 40px;
    border-color: #121212;
    border : 2px solid #121212;

    position: relative;
    transition:
        background-color .25s ease,
        border-color .1s ease;
}

.matrix__g,
.matrix__h,
.matrix__f {
    position: absolute;
    font-size: 10px;
}
.matrix__g {
    left: 0;
    top: 0;
}
.matrix__h {
    right: 0;
    top: 0;
}
.matrix__f {
    /* left : 0; */
    left: 50%;
    transform: translateX(-50%);
    font-size : 15px;
    bottom: 0;
}


.matrix__field--checked {
    background-color: orange;
    border-color: orange;
}
.matrix__field--path {
    background-color: red;
    border-color: red;
    transition:
        background-color .1s ease;
}

.matrix__field--border {
    border-color: #01aa77;
    background-color: #01aa77;
    /* background-color: #fdf0ad; */
}

.matrix__field--border::after {
    content: 'x';
    background-color: #01aa77;
    
    font-size: 27.5px;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.matrix__field--start {
    background-color: blueviolet;
    border-color: blueviolet;
}

.matrix__field--end {
    background-color: #0505af;
    border-color: #0505af;

}



#game {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 960px;
}


#action-map {
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 0; */
    top: 0;
    width: 100%;
    background-color: transparent;
}

#game-over {
    pointer-events: none;
    opacity: 0;

    background-color: #0505af77;

    transition: all .1s ease;
    /* display: none; */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#game-over__window {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%);
}

#autoturn-window {
    padding: 10px !important;
    /* height: 2em; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}

.game-over--show {
    display: block !important;
    pointer-events: all !important;
    opacity: 1 !important;
}